/* Style de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur global */
body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

/* Conteneur principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

/* Conteneur de l'image */
.image-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* Animation de l'image */
.animated-image {
    width: 100%;
    max-width: 600px;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s forwards;
}

/* Transition de l'image */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Conteneur du texte */
.text-container {
    text-align: center;
    font-family: 'Dream Avenue', sans-serif;
}

.text-container h1 {
    font-size: 74.5px;
    color: #000000;
}
